.openpage {
    & > .danger {
        display: none;
        &.active {
            display: block;
            background-color: rgb(255, 0, 0);
            border-radius: 50%;
            border-color: rgb(251, 37, 37);
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            font-size: 55px;
            margin-top: 20%;
            margin-left: 43%;
            cursor: pointer;

            box-shadow: 0 3px 20px rgba(0,0,0,.25),
            inset 0 2px 0 rgba(255,255,255,.6),
            0 2px 0 rgba(0,0,0,.1),
            inset 0 0 20px rgba(0,0,0,.1);

        } 
    }
    .dude {
        display: none;
        &.active {
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: 24px;
            margin-top: 210px;
            margin-left: 35%;
        }
    }
}

body {
    &.bomb {
        background-image: url("../img/bomb.gif");
        background-color: red;
    }
}